<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>

p.diaaBio{
  font-family: cursive;
  position: relative;
  color:white;
  font-size: 22px;
  vertical-align: center;
padding: 20px;
right:240px;
}

.diaaimage {
    position: absolute;
    top: 150px; bottom:0; left: 441px; right:0;
    margin: auto;
}
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 2px blue;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    color:#FFFF00;
    
}
div.transbox p {
    font-size: 20px;
    margin: 5%;
    font-weight: italic bold;
    color: #000000;
}
</style>


    <% if params[:user_id].blank? == false%>

<div class="container">
  <ul class="nav nav-tabs" role="tablist">

 <li><%= link_to 'Home' , user_path(params[:user_id]) %></li>  
    <li><%= link_to 'Blog' , user_articles_path %></li>
<li class="active"><%= link_to 'About Us', user_aboutus_intro_path %></li>
  </ul>
</div>
  <%else%>
<div class="container">

  <ul class="nav nav-tabs" role="tablist">

 <li><%= link_to 'Home' , cookies_show_path %></li>  
   <li><%= link_to 'Blog' , articles_indexnouser_path %></li>
<li class="active"><a href="#">About us</a></li>
  </ul>
  </div>
  <%end%>


<div class ="container">

 <img src="/images/logo_6_ccc.png" width="150px" style="position:center; margin-left:900px;" >
  
<div class ="vision2">
<h6><i> -We Track Your Needs </i></h6>
</div>
</div>

<div class="diaaimage">
<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/11005642_10153063495805631_1635372358_n.jpg?oh=a7cd1a3c65afa7c8da1d95df4b9bb75f&oe=54F1D3CA&__gda__=1425137755_18fe5b306176c8262a7e2758e5af566b" class="img-rounded" alt="Cinque Terre" width="408" height="577">


<h2 class="dalia" >
<font color="yellow" face="Cursive" > Dalia Maarek's Biography </font></h2>

<p class="diaaBio" >Dalia Maarek is an Egyptian GUC student, currently studying Computer Science and Engineering. She enjoys drawing, coding and good music. She has one extremely smart cat called Eva. She is one of the seven exceptional co-founders of Cookies, and does not own a private jet.. or does she?</p>
</div>

</head>

</html>