<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>

p.diaaBio{
  position: relative;
  color:white;
  font-size: 22px;
  vertical-align: center;
padding: 20px;
right:70px;
}

.diaaimage {
    position: absolute;
    top: 170px; bottom:0; left: 441px; right:0;
    margin: auto;
}
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 2px blue;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    color:#FFFF00;
    
}
div.transbox p {
    font-size: 20px;
    margin: 5%;
    font-weight: italic bold;
    color: #000000;
}
</style>


    <% if params[:user_id].blank? == false%>

<div class="container">
  <ul class="nav nav-tabs" role="tablist">

 <li><%= link_to 'Home' , user_path(params[:user_id]) %></li>  
    <li><%= link_to 'Blog' , user_articles_path %></li>
<li class="active"><%= link_to 'About Us', user_aboutus_intro_path %></li>
  </ul>
</div>
  <%else%>
<div class="container">

  <ul class="nav nav-tabs" role="tablist">

 <li><%= link_to 'Home' , cookies_show_path %></li>  
   <li><%= link_to 'Blog' , articles_indexnouser_path %></li>
<li class="active"><%= link_to 'About Us', aboutus_intro_path %></li>
  </ul>
  </div>
  <%end%>

<div class ="container">

 <img src="/images/logo_6_ccc.png" width="150px" style="position:center; margin-left:900px;" >
  
<div class ="vision3">
<h6><i> -We Track Your Needs </i></h6>
</div>
</div>

<div class="diaaimage">
<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/11009080_10153063315960631_715568073_n.jpg?oh=07f28fc66c43a578a65f88b31d018458&oe=54F2FD9D&__gda__=1425138793_e14413e6dda64b87f6a37a0e9665b0e4" class="img-rounded" alt="Cinque Terre" width="480" height="320">


<h2 class="diaas" >
<font color="yellow" face="Cursive" > Ahmed Diaa's <font face="Cursive" >Biography </font></h2>

<p class="diaaBio" >Ahmed diaa is a 6th semester Computer Science student in the German University in Cairo. He is an energetic student, proficient in well performing duties efficiently. He has participated in the ACM Arab Collegiate Programming Contest (ACPC) Regionals 2013 and 2014. Through competitive programming, Ahmed Diaa has gained passion for solving hard problems efficiently.Like any of the team members, he is looking forward to develop his skills and gain new experiences. </p>
</div>

</head>

</html>