<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>

p.diaaBio{
  font-family: cursive;
  position: relative;
  color:white;
  font-size: 22px;
  vertical-align: center;
padding: 20px;
right:240px;
}

.diaaimage {
    position: absolute;
    top: 150px; bottom:0; left: 510px; right:0;
    margin: auto;
}
div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 2px blue;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
    color:#FFFF00;
    
}
div.transbox p {
    font-size: 20px;
    margin: 5%;
    font-weight: italic bold;
    color: #000000;
}
</style>


    <% if params[:user_id].blank? == false%>

<div class="container">
  <ul class="nav nav-tabs" role="tablist">

 <li><%= link_to 'Home' , user_path(params[:user_id]) %></li>  
    <li><%= link_to 'Blog' , user_articles_path %></li>
<li class="active"><%= link_to 'About Us', user_aboutus_intro_path %></li>
  </ul>
</div>
  <%else%>
<div class="container">

  <ul class="nav nav-tabs" role="tablist">

 <li><%= link_to 'Home' , cookies_show_path %></li>  
   <li><%= link_to 'Blog' , articles_indexnouser_path %></li>
<li class="active"><%= link_to 'About Us', aboutus_intro_path %>li>
  </ul>
  </div>
  <%end%>

<div class ="container">

 <img src="/images/logo_6_ccc.png" width="150px" style="position:center; margin-left:950px;" >
  
<div class ="vision4">
<h6><i> -We Track Your Needs </i></h6>
</div>
</div>

<div class="diaaimage">
<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/11005682_10153063315950631_1608128206_n.jpg?oh=d5b71bf87775e6a822d7751272883db5&oe=54F1B2A0&__gda__=1425160049_0c26a7d27a03a2059c59ce61d9d534eb" class="img-rounded" alt="Cinque Terre" width="308" height="370">


<h2 class="youmna" >
<font color="yellow" face="Cursive" >Youmna Salah's Biography </font></h2>

<p class="diaaBio" >Youmna Salah is an abstract rebellious code artist with an IQ equivalent to Newton and Einstein combined However still perusing my bachelor @ the age of 20 .She won Nobel prize for inventing the Internet yet still enjoy being a private citizen. She once Knew the True meaning of life when she first joined the "Cookies"  gang, however, she forgot to write it down. She is one of those who believe in Leonardo da Vinci 's quote" Simplicity is the ultimate sophistication" that's why she tortures myself with simple questions</p>
</div>

</head>

</html>