<!-- <h2>Listing Articles</h2> -->
<script type="text/javascript" src="js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.execCommand('mceAddControl',true,'editor_id');

tinymce.init({
    selector: "textarea",
    theme: "modern",
    plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor"
    ],
    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | fontsizeselect",
    toolbar2: "preview media | forecolor backcolor emoticons",
    image_advtab: true,
    theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
    font_size_style_values: "12px,13px,14px,16px,18px,20px",
});
</script>
<head>
<head>
<link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>

<style>
      body {
        font-family: 'Cuprum';
        font-size: 48px;
      }
    </style>
  <meta charset="utf-8"> </meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"> </meta>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> </link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
</head>
<body>

<div class ="container">
 

    <ul class="nav nav-tabs" role="tablist">

    
 <li><%= link_to 'Home' , user_path(params[:user_id]) %></li>  
    <li><%= link_to 'Blog' , user_articles_path(params[:user_id]) %></li>
<li><%= link_to 'About Us',  user_aboutus_intro_path %></li>

  </ul>

 <img src="/images/logo_6_ccc.png" width="150px" style="position:center; margin-left:1000px;" >

</div>



<%= form_for [@user , @article] do |f| %> 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <h3><font color="yellow" face="sans-serif">
    <%= f.label :title %><br></font>
  <font color="black" face="sans-serif"><%= f.text_field :title %>
  </font></h3>
 
  <h3><font color="yellow">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </h3>
 <%= f.collection_select(:category_id, Category.all, :id, :name, { :prompt => 'Select a Category', :selected => @article.category_id }, { class: 'form-control' }) %>

  <p>
    <%= f.submit %>
  </p>
 
<% end %>
<%= link_to 'Back', user_articles_path(@user) %>
</body> 
