
<!-- <h2>Listing Articles</h2> -->
<head>
  <meta charset="utf-8"> </meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"> </meta>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> </link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
</head>
<body id ="ground">
<div class="container">

  <ul class="nav nav-tabs" role="tablist">
  
 <li><%= link_to 'Home' , cookies_show_path %></li>  
    <li class="active"><%= link_to 'Blog' , articles_indexnouser_path %></li>
    
<li><%= link_to 'About Us',  aboutus_aboutusnouser_path %></li>
  </ul>
</div>
<p><font color="white">Some feautures were blocked as you are not a user. Please login if you have an account or sign up if not!</font></p>
<div class ="container">
  <img src="/images/logo_6_ccc.png" width="700px" style="position:center; margin-left:220px;" >
</div>





  <% @articles.each  do |article| %>
  <div>
  <div id ="box" style="margin:50px;">

      <h9><%= article.title %></h9> 
       <font align="center">
       <p> Category : <%= Category.find(article.category_id).name %></p> 
      <h4><%= link_to 'Show', articles_shownouser_path(article) %></h4>
      </font>
    </div>
    
 <% end %>
</body>

 

