<p>
  <h2><%= @article.title %></h2>
  
</p>
 
<p>
  
  <%= @article.text %>
</p>

<h3>Comments</h3>
<%= render @article.comments %>

<h4>Add a comment:</h4>
<%= render 'comments/form' %>

<h4><%= link_to 'Back', articles_path %> | <%= link_to 'Edit', edit_article_path(@article) %></h4>
