<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
<div class="container">

 <ul class="nav nav-tabs" role="tablist">


 <li><%= link_to 'Home' , user_path(params[:user_id]) %></li>      <li><%= link_to 'Blog' , user_articles_path(@user)%></li>
<li><%= link_to 'About Us', user_aboutus_intro_path(@user) %></li>
    <li><%= link_to 'Edit signature', edit_user_path(@user.id) %></li>
<li><%= link_to "Edit profile picture", {:controller => "carrierwave_images", :action => "edit", :@carrierwave_images => @user.id }%></li>
   </ul>

</div>
<div class="container" style="position:fixed;left:600px;top:300px;">
<font face="Papyrus" size="+1000" color="lightblue" >Hi, <%=@user.name%> :)</font></div>


<div class="container" style="position:fixed;left:500px;top:500px;" ><a href ="/carrierwave_images/"@user.id"/edit">
	

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>