<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
<div class="container">

 <ul class="nav nav-tabs" role="tablist">


 <li><%= link_to 'Home' , user_path(params[:id]) %></li>      <li><%= link_to 'Blog' , user_articles_path(params[:id])%></li>
<li><%= link_to 'About Us', user_aboutus_intro_path(params[:id]) %></li>
    <li><%= link_to 'Edit signature', edit_user_path(@user.id) %></li>
<li> <%= link_to "Edit link picture", {:controller => "users", :action => "update", :@users => @user } %></li>
   </ul>
<h1>Edit Profile Picture</h1>
<div>
<p> Current Image </p>
<IMG SRC= <%=@user.url%> class="img-circle" allign="middle" alt="Current Profile picture" width="150" height="100"> </div>
<div>
<%= render 'form' %>

	<%= link_to "Back", {:controller => "users", :action => "show" } %>
	
</P>
</div>